-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: femcare
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `completed_recommendations`
--

DROP TABLE IF EXISTS `completed_recommendations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `completed_recommendations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `recommendation_id` int NOT NULL,
  `completed_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_recommendation` (`user_id`,`recommendation_id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `completed_recommendations`
--

LOCK TABLES `completed_recommendations` WRITE;
/*!40000 ALTER TABLE `completed_recommendations` DISABLE KEYS */;
INSERT INTO `completed_recommendations` VALUES (1,2,3,'2026-08-12 06:19:04'),(2,2,4,'2026-08-12 06:21:28'),(3,2,11,'2026-08-12 06:31:58'),(4,2,15,'2026-08-12 06:33:16'),(5,2,5,'2026-08-12 06:34:50'),(6,2,14,'2026-08-12 07:07:05'),(7,1,1,'2026-08-12 07:27:29'),(8,1,2,'2026-08-12 07:27:42'),(9,4,14,'2026-08-12 08:15:09'),(10,2,9,'2026-08-12 12:39:56'),(11,3,5,'2026-08-12 16:55:43'),(12,3,6,'2026-08-12 16:55:47');
/*!40000 ALTER TABLE `completed_recommendations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `early_puberty_logs`
--

DROP TABLE IF EXISTS `early_puberty_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `early_puberty_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `age` int DEFAULT NULL,
  `puberty_signs` varchar(20) DEFAULT NULL,
  `early_breast_development` varchar(20) DEFAULT NULL,
  `early_pubic_hair` varchar(20) DEFAULT NULL,
  `early_underarm_hair` varchar(20) DEFAULT NULL,
  `body_odor` varchar(20) DEFAULT NULL,
  `acne` varchar(20) DEFAULT NULL,
  `rapid_growth` varchar(20) DEFAULT NULL,
  `vaginal_bleeding` varchar(20) DEFAULT NULL,
  `reference_result` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `early_puberty_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `early_puberty_logs`
--

LOCK TABLES `early_puberty_logs` WRITE;
/*!40000 ALTER TABLE `early_puberty_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `early_puberty_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `food_logs`
--

DROP TABLE IF EXISTS `food_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `food_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `log_date` date NOT NULL,
  `meals_per_day` int DEFAULT NULL,
  `fruits_servings` decimal(5,2) DEFAULT NULL,
  `vegetables_servings` decimal(5,2) DEFAULT NULL,
  `protein_servings` decimal(5,2) DEFAULT NULL,
  `water_intake_liters` decimal(5,2) DEFAULT NULL,
  `fast_food` varchar(20) DEFAULT NULL,
  `sugary_drinks` varchar(20) DEFAULT NULL,
  `breakfast` varchar(20) DEFAULT NULL,
  `dietary_preference` varchar(50) DEFAULT NULL,
  `nutrition_score` decimal(5,2) DEFAULT NULL,
  `reference_result` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `food_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `food_logs`
--

LOCK TABLES `food_logs` WRITE;
/*!40000 ALTER TABLE `food_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `food_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `health_logs`
--

DROP TABLE IF EXISTS `health_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `health_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `log_date` date NOT NULL,
  `sleep_hours` decimal(4,2) DEFAULT NULL,
  `water_intake_liters` decimal(4,2) DEFAULT NULL,
  `stress_score` decimal(5,2) DEFAULT NULL,
  `exercise_minutes` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_health_logs_user_date` (`user_id`,`log_date`),
  CONSTRAINT `fk_health_logs_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `health_logs`
--

LOCK TABLES `health_logs` WRITE;
/*!40000 ALTER TABLE `health_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `health_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `health_profiles`
--

DROP TABLE IF EXISTS `health_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `health_profiles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `age` int DEFAULT NULL,
  `bmi` decimal(5,2) DEFAULT NULL,
  `diet_quality` varchar(50) DEFAULT NULL,
  `exercise_frequency` varchar(50) DEFAULT NULL,
  `sleep_hours` decimal(4,2) DEFAULT NULL,
  `water_intake_liters` decimal(4,2) DEFAULT NULL,
  `caffeine_intake` varchar(50) DEFAULT NULL,
  `stress_score` decimal(5,2) DEFAULT NULL,
  `birth_control_use` varchar(50) DEFAULT NULL,
  `pcos_diagnosed` varchar(20) DEFAULT NULL,
  `alcohol_consumption` varchar(50) DEFAULT NULL,
  `smoking_status` varchar(50) DEFAULT NULL,
  `stress_score_baseline` decimal(5,2) DEFAULT NULL,
  `weight_gain` varchar(10) DEFAULT NULL,
  `hair_growth` varchar(10) DEFAULT NULL,
  `skin_darkening` varchar(10) DEFAULT NULL,
  `hair_loss` varchar(10) DEFAULT NULL,
  `pimples` varchar(10) DEFAULT NULL,
  `fast_food` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `health_profiles_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `health_profiles`
--

LOCK TABLES `health_profiles` WRITE;
/*!40000 ALTER TABLE `health_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `health_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menopause_logs`
--

DROP TABLE IF EXISTS `menopause_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menopause_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `age` int DEFAULT NULL,
  `periods_stopped` varchar(20) DEFAULT NULL,
  `months_since_last_period` int DEFAULT NULL,
  `hot_flashes` varchar(20) DEFAULT NULL,
  `night_sweats` varchar(20) DEFAULT NULL,
  `mood_changes` varchar(20) DEFAULT NULL,
  `sleep_problems` varchar(20) DEFAULT NULL,
  `vaginal_dryness` varchar(20) DEFAULT NULL,
  `fatigue` varchar(20) DEFAULT NULL,
  `concentration_problems` varchar(20) DEFAULT NULL,
  `joint_pain` varchar(20) DEFAULT NULL,
  `reference_result` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `menopause_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menopause_logs`
--

LOCK TABLES `menopause_logs` WRITE;
/*!40000 ALTER TABLE `menopause_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `menopause_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pcos_logs`
--

DROP TABLE IF EXISTS `pcos_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pcos_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `age` int DEFAULT NULL,
  `bmi` decimal(5,2) DEFAULT NULL,
  `irregular_periods` varchar(10) DEFAULT NULL,
  `acne` varchar(10) DEFAULT NULL,
  `excess_hair_growth` varchar(10) DEFAULT NULL,
  `hair_loss` varchar(10) DEFAULT NULL,
  `weight_gain` varchar(10) DEFAULT NULL,
  `pelvic_pain` varchar(10) DEFAULT NULL,
  `pcos_result` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_pcos_user_id` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pcos_logs`
--

LOCK TABLES `pcos_logs` WRITE;
/*!40000 ALTER TABLE `pcos_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `pcos_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perimenopause_logs`
--

DROP TABLE IF EXISTS `perimenopause_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `perimenopause_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `age` int DEFAULT NULL,
  `cycle_irregularity` varchar(20) DEFAULT NULL,
  `hot_flashes` varchar(20) DEFAULT NULL,
  `night_sweats` varchar(20) DEFAULT NULL,
  `mood_changes` varchar(20) DEFAULT NULL,
  `sleep_problems` varchar(20) DEFAULT NULL,
  `vaginal_dryness` varchar(20) DEFAULT NULL,
  `fatigue` varchar(20) DEFAULT NULL,
  `headache` varchar(20) DEFAULT NULL,
  `concentration_problems` varchar(20) DEFAULT NULL,
  `reference_result` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `perimenopause_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perimenopause_logs`
--

LOCK TABLES `perimenopause_logs` WRITE;
/*!40000 ALTER TABLE `perimenopause_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `perimenopause_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `period_logs`
--

DROP TABLE IF EXISTS `period_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `period_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `cycle_number` int DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `cycle_length_days` int DEFAULT NULL,
  `prev_cycle_length` decimal(5,2) DEFAULT NULL,
  `cycle_phase` varchar(50) DEFAULT NULL,
  `flow_level` varchar(50) DEFAULT NULL,
  `pain_level` int DEFAULT NULL,
  `pms_symptoms` varchar(255) DEFAULT NULL,
  `mood_score` int DEFAULT NULL,
  `stress_score_cycle` decimal(5,2) DEFAULT NULL,
  `sleep_hours_cycle` decimal(4,2) DEFAULT NULL,
  `energy_level` int DEFAULT NULL,
  `concentration_score` int DEFAULT NULL,
  `work_hours_lost` decimal(5,2) DEFAULT NULL,
  `overall_health_score` decimal(5,2) DEFAULT NULL,
  `log_consistency_score` decimal(5,3) DEFAULT NULL,
  `prepared_before_period` tinyint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `period_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `period_logs`
--

LOCK TABLES `period_logs` WRITE;
/*!40000 ALTER TABLE `period_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `period_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `postmenopause_logs`
--

DROP TABLE IF EXISTS `postmenopause_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `postmenopause_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `age` int DEFAULT NULL,
  `years_since_menopause` decimal(5,2) DEFAULT NULL,
  `hot_flashes` varchar(20) DEFAULT NULL,
  `night_sweats` varchar(20) DEFAULT NULL,
  `vaginal_dryness` varchar(20) DEFAULT NULL,
  `sleep_problems` varchar(20) DEFAULT NULL,
  `mood_changes` varchar(20) DEFAULT NULL,
  `fatigue` varchar(20) DEFAULT NULL,
  `joint_pain` varchar(20) DEFAULT NULL,
  `urinary_symptoms` varchar(20) DEFAULT NULL,
  `bone_health_concern` varchar(20) DEFAULT NULL,
  `concentration_problems` varchar(20) DEFAULT NULL,
  `reference_result` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `postmenopause_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `postmenopause_logs`
--

LOCK TABLES `postmenopause_logs` WRITE;
/*!40000 ALTER TABLE `postmenopause_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `postmenopause_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pregnancy_logs`
--

DROP TABLE IF EXISTS `pregnancy_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pregnancy_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `age` int DEFAULT NULL,
  `pregnancy_status` varchar(20) DEFAULT NULL,
  `gestational_weeks` decimal(5,2) DEFAULT NULL,
  `prenatal_visits` int DEFAULT NULL,
  `blood_pressure` varchar(30) DEFAULT NULL,
  `blood_sugar` varchar(30) DEFAULT NULL,
  `nausea` varchar(20) DEFAULT NULL,
  `vomiting` varchar(20) DEFAULT NULL,
  `fatigue` varchar(20) DEFAULT NULL,
  `swelling` varchar(20) DEFAULT NULL,
  `headache` varchar(20) DEFAULT NULL,
  `abdominal_pain` varchar(20) DEFAULT NULL,
  `bleeding` varchar(20) DEFAULT NULL,
  `reference_result` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `pregnancy_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pregnancy_logs`
--

LOCK TABLES `pregnancy_logs` WRITE;
/*!40000 ALTER TABLE `pregnancy_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `pregnancy_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recommendations`
--

DROP TABLE IF EXISTS `recommendations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recommendations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `problem` varchar(100) NOT NULL,
  `practice_type` varchar(50) NOT NULL,
  `practice_name` varchar(150) NOT NULL,
  `description` text,
  `video_url` varchar(500) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recommendations`
--

LOCK TABLES `recommendations` WRITE;
/*!40000 ALTER TABLE `recommendations` DISABLE KEYS */;
/*!40000 ALTER TABLE `recommendations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thyroid_logs`
--

DROP TABLE IF EXISTS `thyroid_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thyroid_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `tsh` decimal(6,2) DEFAULT NULL,
  `t3` decimal(6,2) DEFAULT NULL,
  `t4` decimal(6,2) DEFAULT NULL,
  `fatigue` varchar(20) DEFAULT NULL,
  `weight_change` varchar(20) DEFAULT NULL,
  `cold_sensitivity` varchar(20) DEFAULT NULL,
  `heat_sensitivity` varchar(20) DEFAULT NULL,
  `hair_changes` varchar(20) DEFAULT NULL,
  `mood_changes` varchar(20) DEFAULT NULL,
  `sleep_problems` varchar(20) DEFAULT NULL,
  `thyroid_result` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `thyroid_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thyroid_logs`
--

LOCK TABLES `thyroid_logs` WRITE;
/*!40000 ALTER TABLE `thyroid_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `thyroid_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-13  0:30:22
